- title "Edit <%= singular_name.titleize %>"

<%= render_form %>

<%- if actions? :show, :index -%>
%p
  <%- if action? :show -%>
  = link_to "Edit", edit_<%= singular_name %>_path(@<%= singular_name %>)
  |
  <%- end -%>
  <%- if action? :index -%>
  = link_to "View All", <%= plural_name %>_path
  <%- end -%>
<%- end -%>
