- title "Edit <%= singular_name.titleize %>"

<%= render_form %>

<%- if actions? :show, :index -%>
%p
  <%- if action? :show -%>
  = link_to "Show", <%= item_path :instance_variable => true %>
  |
  <%- end -%>
  <%- if action? :index -%>
  = link_to "View All", <%= items_path %>
  <%- end -%>
<%- end -%>
