- title "Edit <%= singular_name.titleize %>"

<%= render_form %>

<%- if actions? :show, :index -%>
%p
  <%- if action? :show -%>
  = link_to "Show", <%= instance_name %>_path(@<%= instance_name %>)
  |
  <%- end -%>
  <%- if action? :index -%>
  = link_to "View All", <%= instances_name %>_path
  <%- end -%>
<%- end -%>
