- title t(:'titles.edit', :scope => :<%= instances_name %>)

<%= render_form %>

<%- if actions? :show, :index -%>
%p
  <%- if action? :show -%>
  = link_to t(:'actions.show', :scope => :<%= instances_name %>),, <%= item_path :instance_variable => true %>
  |
  <%- end -%>
  <%- if action? :index -%>
  = link_to t(:'actions.view_all', :scope => :<%= instances_name %>), <%= items_path %>
  <%- end -%>
<%- end -%>
