- title t(:'titles.new', :scope => :<%= plural_name %>)

<%= render_form %>

<%- if action? :index -%>
%p= link_to t(:'actions.back_to_list', :scope => :<%= plural_name %>), <%= items_path %>
<%- end -%>
