<%% title "Log in" %>

<p>Don't have an account? <%%= link_to "Sign up!", signup_path %></p>

<%- if options[:authlogic] -%>
<%%= form_for @<%= session_singular_name %> do |f| %>
  <%%= f.error_messages %>
  <div class="field">
    <%%= f.label :username %>
    <%%= f.text_field :username %>
  </div>
  <div class="field">
    <%%= f.label :password %>
    <%%= f.password_field :password %>
  </div>
  <div class="actions"><%%= f.submit "Log in" %></div>
<%% end %>
<%- else -%>
<%%= form_tag <%= session_plural_name %>_path do %>
  <div class="field">
    <%%= label_tag :login, "Username or Email Address" %>
    <%%= text_field_tag :login, params[:login] %>
  </div>
  <div class="field">
    <%%= label_tag :password %>
    <%%= password_field_tag :password %>
  </div>
  <div class="actions"><%%= submit_tag "Log in" %></div>
<%% end %>
<%- end -%>
